@font-face {
    font-family: 'Retro';
    src: url('https://raw.githubusercontent.com/Pesta-Rakyat-Fasilkom/perak-games/gh-pages/typeracer/fonts/retro.ttf');
}

.btn {
    background: transparent;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */

    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

.btn svg {
    color: white;
    height: 3rem;
    width: 3rem;
}

.content {
    border: 1px solid white;
    padding: 1rem;
    min-width: 640px;
    min-height: 480px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html,
body {
    background: black;
    height: 100%;
}

body {
    margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageText {
    color: white;
    font-family: 'Retro', Helvetica, sans-serif;
    margin-bottom: 0;
}

#warnText {
    margin-top: 0;
    color: #ffff7b;
    font-family: 'Retro', Helvetica, sans-serif;
}
